<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Black America Web News!</h1>
            <p><a class="btn btn-primary btn-lg color:#67aeca" href="https://www.blackamericaweb.com" target="_blank"
                    role="button">What's New! &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <ul>
                {{#each articles}}
                <div class="col-md-8">
                    <li>
                        <h3>{{this.title}}</h3>
                    </li>
                    <p><u>{{this.link}}</u></p>
                    <p><a class="btn btn-secondary" href="#" role="button">Add Note &raquo;</a></p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{this._id}}">
                        <label class="form-check-label" for="inlineCheckbox1">Save Article</label>
                    </div>
                    <br>
                </div>
                {{/each}}
            </ul>
        </div>
        <hr>
    </div> <!-- /container -->
</main>